body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: white;
  background-size: 100% 100%;
}
body{
  background: url(http://static.planetminecraft.com/files/resource_media/screenshot/1309/Deadmau5-Disco-Room_4943169_lrg.jpg);
  background-size: 100%;
}
.title, .addDancerButton, .lineDancerButton{
  padding:5px 12px;
  float:right;
}
.lineDancerButton{
  float: left;
}
.topbar{
  height:32px;
  background-color: #777;
}
.title{
  background-color: #777;
}
.dancer{
  background-color: red;
  width:30px;
  height:30px;
  border-radius:10px;
  position:absolute;
  background: url(src/blinky.png);
  background-size:30px 30px;
}
.blinkyDancer{  
}
.blueDancer{
  background: url(src/breakDancer.png);
  background-size:30px 30px;
}
.scale{
  transform: scale(4);
}

/*squareDancer classes*/
.left{
  transform: translate(30px);
}
.upLeft{
  transform: translate(30px, 30px);
}
.up{
  transform: translate(0px, 30px);
}

/*breakDancer*/
.rotateRight{
  transform: rotate(90deg);
}
.rotateDown{
  transform: rotate(180deg);
}
.rotateLeft{
  transform: rotate(270deg);
}
.squareDancer{
  background: url(src/square.png);
  background-size:30px 30px;
}